.root{
    display:flex;
    flex-direction:column;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
}

.root nav {
    background-color: rgb(0, 0, 0);
    color:rgb(240, 248, 255);
    padding: 8px;
    display: flex;
    flex-direction:column;
    
}

@media (min-width:440px) {
    .root nav {
        flex-direction:row;
        align-items: baseline;
    }
}

.root main {
    display: flex;
    background-color: #eee;
    padding: 10px;
    flex-direction: column;
}
.root nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    display: flex;
    justify-content:center;
    padding: 16px;
}

.root nav a.brand {
    font-weight: 700;
    font-size: 1.5em;
}
.root nav a:not(.brand) {
    text-transform: uppercase;
}

.root nav a:hover {
    background-color: #666;
}

.root main p {
    margin-bottom: 8px ;
}

@media (min-width: 900px) {
    .root main p {
        margin: 0px auto;
        width:900px;
    }
}

.root main form {
    display: flex;
}

.root main form input {
    flex-grow: 1;
    margin: 0;
    border-style: none;
    border-radius: 15px 0px 0px 15px;
    padding:0px 15px;
    font-size: 1em;
    color: #666;
}

.root main form button {
    flex-basis: 100px;
    height: 30px;
    margin: 0;
    border-style: none;
    background-color: orange;
    border-radius: 15px 0px 15px;
    text-transform: uppercase;
    font-size: 0.8em;
}

.root main ul {
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;

}

.root main ul li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 350px;
    height: 213px;
    background-color: white;
    margin-right: 16px;
    margin-bottom: 16px;


}

.root main ul li img.poster {
    width: 150px;
    height: 213px;
    margin-right: 8px;
}

.root main ul li .title {
    font-size: 1.5em;

}

.root main ul li .year {
    font-size: 0.7em;
    

}